<div class="container">
  <app-header></app-header>
  <h1 class="h1">Hello word {{ number }} - {{ name }} - {{ testAxios }}</h1>

  @if(show){
  <h2 class="h1">This is the V-IF</h2>
  }
  <!-- <h2 class="h1" *ngIf="show">This is the V-IF</h2> -->

  <!-- @for (listeOfTechno of listeOfTechnos; track listeOfTechno) {
  <p class="Content">{{ listeOfTechno.nom }}</p>
  } -->

  <div class="list" *ngFor="let listeOfTechno of listeOfTechnos">
    <!-- <p class="Content">{{ listeOfTechno.nom }}</p> 
    <button (click)="DeleteItem(listeOfTechno.nom)" class="X">X</button> -->
    <app-item
      [listeOfTechno]="listeOfTechno"
      [deleteItem]="DeleteItem"
    ></app-item>
  </div>
  <input type="text" [(ngModel)]="name" placeholder="Enter your name" />
  <button (click)="testFunction()">Click here !</button>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
